
  <!-- < button_to 'Log Out', destroy_user_session_path, method: :delete > -->
<!-- <h2>Welcome < current_user.first_name > </h2> -->
<div class='center remindr-logo'>
  <%=link_to image_tag('remindr_logo.png'), '/'%>
</div>

<div class='dashboard-logos'>
  <%= link_to image_tag('bankr_logo.png'), bank_items_path %>
  <%= link_to image_tag('grocry_logo.png'), groceries_path %>
  <%= link_to image_tag('synrgy_logo.png'), todo_lists_path %>
<div>
