<h1>Synrgy Items</h1>

<% if @todo_item.any? %>
	<ul>
		<% @todo_item.each do |todo_item| %>
			<li>
  			<h5>To do: <%= link_to todo_item.name, edit_todo_list_todo_item_path(@todo_list, todo_item) %></h5>
  		</li>
  	<% end %>
  </ul>
<% else %>
  <h3>No items, please add one!</h3>
<% end %>

<%= link_to 'Add new synrgy items', new_todo_list_todo_item_path(@todo_list) %>
