<h1>Your Grocry List:</h1>
<br />

<% if @groceries.any? %>
	<ul>
		<% @groceries.each do |grocery| %>
			<li>
				<h4>
  			<%= link_to grocery.name, edit_grocery_path(grocery) %>
				</h4>
  		</li>
  	<% end %>
  </ul>
<% else %>
  <h3>No grocrys, please add one!</h3>
<% end %>


<%= link_to 'dashboard', '/' %>
<%= link_to 'add grocrys', new_grocery_path, class: "green darken-4 white-text waves-effect waves-light btn" %>
