<h1>These are your Bills</h1>

<% if @bank_items.any? %>
	<% @bank_items.each do |item| %>
	  <p>Bill to Pay: <%= link_to item.name, item %> </p>
	<% end %>
<% else %>
  
	<h3 class='center'> No Bankr has been added!</h3>

	<%= link_to 'New Item', new_bank_item_path %>
<% end %>
<br>
