<nav>
  <div class="nav-wrapper blue-grey darken-2">
  <a href="/" class="brand-logo center">REMINDR</a>
    <ul id="nav-mobile" class="center hide-on-med-and-down">
      <!-- <li><%# link_to 'Home', root_path %></li>
      <li><%# link_to 'User Profile', edit_user_registration_path %></li>
      <li><%# link_to 'Grocry', lists_path %></li>
      <li><%# link_to 'Bankr', lists_path %></li>
      <li><%# link_to 'Synrgy', lists_path %></li>
      <li><%# link_to 'Logout', destroy_user_session_path, method: :delete, data: {confirm: 'Really logout of Remindr?'} %></li> -->

    </ul>
  </div>
</nav>
