<nav>
  <div class="nav-wrapper black">
    <div class="container">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
      <% if current_user != nil %>
        <li>Welcome, <%= current_user.first_name %></li>
      <% end %>
      </ul>
      <a href="/" class="brand-logo center">REMINDR</a>
      <ul id="nav-mobile" class="right hide-on-small-and-down">
        <!-- <li><%# link_to 'Home', root_path %></li>
        <li><%# link_to 'User Profile', edit_user_registration_path %></li>
        <li><%# link_to 'Grocry', lists_path %></li>
        <li><%# link_to 'Bankr', lists_path %></li>
        <li><%# link_to 'Synrgy', lists_path %></li>-->
        <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete, data: {confirm: 'Really logout of Remindr?'} %>

        <!-- <li><%# link_to 'Logout', destroy_user_session_path, method: :delete, data: {confirm: 'Really logout of Remindr?'} %></li> -->

      </ul>
    </div>
  </div>
</nav>
